
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "~/../../Assets/Css/Profile/profile.css";
    ViewBag.Js = "";
}



<div class="bg-img-traslucida">
    <div class="banner">
        <div class="col-md-4 col-xs-10 col-xs-offset-1  col-sm-10 col-sm-offset-1 cont-left">
            
        </div>
        <div class="col-md-8 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 cont-right">
            <h1>Hi !</h1>
            <h6>UX & UI DESIGNER</h6>
            <ul class="address">
                <li>
                    <ul class="address-text">
                        <li><b>NAME</b></li>
                        <li>I'M ROB LEE</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>D.O.B</b></li>
                        <li>23-06-1980</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>PHONE </b></li>
                        <li>+00 111 222 3333</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>ADDRESS </b></li>
                        <li>756 Global Place,New York.</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>E-MAIL </b></li>
                        <li><a href="mailto:example@mail.com"> mail@example.com</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>WEBSITE </b></li>
                        <li><a href="http://w3layouts.com">www.myresume.com</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
