@model TheForgiveness.Models.asignaturaModel

@{
    ViewBag.Title = "SpecifySubject";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
}

<h1>Detalles de la asignatura</h1>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @{
        if (ViewBag.rol == "Administrador" || ViewBag.rol == "Docente")
        {
            @Html.ActionLink("Edit", "UpdateSubject", new { id = Model.ID }, new { @class = "btn btn-outline-warning" })
        }
    }


    @Html.ActionLink("Back to List", "GetSubjects")
</p>
