
@{
    ViewBag.Title = "DeleteContact";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Eliminar Datos de contacto</h1>


<div class="col-md-8 offset-2">
    <table class="table">
        <tr>
            <th>
                Indice
            </th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Action</th>
        </tr>


        <tr>
            <td>1</td>
            <td>jual@live.com</td>
            <td>3213213213</td>
            <td><a class="btn">Editar</a> | <a class="btn">detalle</a> | <a class="btn">Eliminar</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>jualtube@live.com</td>
            <td>3213555555</td>
            <td><a class="btn">Editar</a> | <a class="btn">detalle</a> | <a class="btn">Eliminar</a></td>
        </tr>

    </table>
</div>


<hr />
<p>
    @Html.ActionLink("Create New", "RegisterContact")
</p>
