
@{
    ViewBag.Title = "DeleteContact";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
    ViewBag.Js = "../../Assets/Js/Delete/sweet.js";
}

<h1>Eliminar Datos de contacto</h1>


<div class="col-md-8 offset-2">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Indice
                </th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>jual@live.com</td>
                <td>3213213213</td>
                <td><a class="btn btn-outline-warning">Editar</a>  <a class="btn btn-outline-success">detalle</a>  <a class="btn btn-outline-danger">Eliminar</a></td>

            </tr>
            <tr>
                <td>2</td>
                <td>jualtube@live.com</td>
                <td>3213555555</td>
                <td><a class="btn btn-outline-warning">Editar</a>  <a class="btn btn-outline-success">detalle</a>  <a class="btn btn-outline-danger">Eliminar</a></td>
            </tr>
        </tbody>

    </table>
</div>


<hr />
<p>
    @Html.ActionLink("Create New", "RegisterContact")
</p>
