@model TheForgiveness.Models.TypeDocModel

@{
    ViewBag.Title = "Eliminar Tipo Documento";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
    ViewBag.Js = "../../Assets/Js/Delete/sweet.js";
}

<h1>Eliminar tipo de documento de identidad</h1>

<h3 class="text-center">Esta seguro que desea eliminar esto?</h3>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>

    </dl>
    <hr />
    @using (Html.BeginForm("DeleteDocument", "Document", FormMethod.Post, new { @id = "delete"})) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" onclick="return del(event, 'Tipo Documento');" /> |

            @Html.ActionLink("Regresar", "GetDocuments")
        </div>
    }
</div>
