li a i {
    padding-right: 7.5px;
}

li a i img {
    width: 28px;
    height: 28px;
}

i img {
    width: 25px;
    height: 25px;
}

    i img ico,
    #ico{
        width: 140px;
        height: 25px;
    }



@media (min-width: 320px) and (max-width: 767px) {
    i img {
        width: 40px;
        height: 40px;
    }

    #ico {
        width: 300px;
        height: 40px;
    }
   
}

@media (min-width: 768px) and (max-width: 1024px) {

    #ft {
        margin-left: 8%;
        margin-right:8%;
    }
}