@{
    ViewBag.Title = "Modal";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Las vitimologia en la cual encaja segun nuestro agente inteligente es:</p>

                
                 
                        <a href="@Url.Action("GetVictimology", "Victimology")" class="btn btn-outline-primary">@ViewBag.victimologia</a>
                        
                
                


                <div>
                    
                        <p>Tenga en cuenta que selesugiera visitar :</p>
                        <a href="@Url.Action("GetVictimology", "Victimology")" class="btn btn-outline-primary">@ViewBag.sugerencia</a>
                       
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(() => {
        $("#modal").modal()
    });
</script>