
@{
    ViewBag.Title = "GetStage";
    Layout = "~/Views/Shared/DashBoard.cshtml";
}

<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="http://redxors.alwaysdata.net/AppWeb/index.html" allowfullscreen></iframe>
</div>